body {
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  background-image: url("IMG/2.jpg");;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: currentColor;
}
.h1 {
    margin-bottom: 1.375em;
    color: #E09606;
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
  }
#temp{
  font-family: 'Courier New', cursive;
  text-align: center;
  color: #FF0063;
  
  border-style: double  ;
  width: 80%;
  border-radius: 6px;
}
.p {
    font-family: "Courier New", Times, serif;
    color: #ED8D54;
    font-size: 40px;
    
}
.body{

    background: #FBBFBF;
    -webkit-animation: mymove 10s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: #D7F9F6;}
    to {background-color: #BDBDF4;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: #C4EAF3;}
    to {background-color: #A0A0F9;}
}
.sbtn{
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; 
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.btn{
    border: none #8349E9; /* Remove borders */
    color: #34EDC9; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 4px;
    font-size: 16px;
}
.content{
    margin-bottom: 10px ;
}
    

